body,html{
	background: #ffffff;
	margin:0px;
	padding:0px;
	font-family: '微软雅黑';
	color:#333333;
	font-size: 12px;
	position: relative;
}
@font-face {
    font-family: Muiicons;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/mui.ttf) format('truetype')
}
.mui-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85);
    box-shadow: 0 0 1px rgba(0,0,0,.85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.mui-bar-nav {
    top: 0;
    -webkit-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
}
.mui-bar-nav.mui-bar .mui-icon {
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
}
.mui-bar .mui-icon {
    font-size: 24px;
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mui-icon {
    font-family: Muiicons;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.mui-pull-left {
    float: left;
}
.mui-icon-back:before, .mui-icon-left-nav:before {
    content: '\e471';
}
.mui-bar .mui-title {
    right: 40px;
    left: 40px;
    display: inline-block;
    overflow: hidden;
    width: auto;
    margin: 0;
    text-overflow: ellipsis;
}
.mui-title {
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    position: absolute;
    display: block;
    width: 100%;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
}
.headerTop{
	background: #ffffff;
}
a { text-decoration: none !important;}
a:hover { text-decoration: none !important;}
html{
	font-size:20px;
}
li,ul,ol{
	list-style: none;
	margin:0px;
	padding: 0px;
}
a{
	color: #333333;
	text-decoration: none;
}
a,a:hover,a:visited{
	text-decoration: none;
}
a ::before{
	text-decoration: none;
}
img{
	width: 100%;
}
.clearfix{
	width:100%;
	clear: both;
}
.mb8{
	margin-bottom: 0.67rem;
}
.mt10{
	margin-top: 0.83rem;
}
.hide{
	display: none!important;
}
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}
div {
    box-sizing: border-box;
}
.headerTop{
	
}
.headerTop h1{
	color: #888;
	font-weight: normal;
}
.headerTop .mui-action-back{
	color: #888;
	font-weight: lighter;
}
.tb-toolbar-container {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1001;
    background-color: #ffffff;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #f8f8f8;
    justify-content: space-between;
    align-items: center;
/*     padding: 4px 20px 0px 20px; */
    padding: 4px 0px 0px 0px;
}
.tb-toolbar-container .tab {
    color: #5d656b;
    text-decoration: none;
}
.tb-toolbar-container > .tab {
    display: block;
    text-align: center;
    width: 25%;
}
.tb-toolbar-iconfont {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tb-toolbar-container .tb-toolbar-iconfont {
    font-size: 20px;
    height: 22px;
    line-height: 22px;
    color: #5D656B;
}
.tb-toolbar-container .text {
    font-size: 12px;
    padding:0px;
    margin:0px;
    transform: scale(0.83333);
}
.tb-toolbar-container .tb-toolbar-iconfont.tb-icon-cart{
	font-weight: bold;
	font-size: 17px;
}
.tb-icon-homepage:before{
	content: "\e703";
}
.tb-toolbar-container .tab.active .tb-icon-homepage:before{
	content: "\e702";
}
.tb-icon-cart:before{
	content: "\e670";
}
.tb-toolbar-container .tab.active .tb-icon-cart:before{
	content: "\ea96";
}
.tb-icon-activity:before{
	content: "\e6de";
}
.tb-toolbar-container .tab.active .tb-icon-activity:before{
	content: "\e6df";
}
.tb-icon-mine:before{
	content: "\e70e";
}
.tb-toolbar-container .tab.active .tb-icon-mine:before{
	content: "\e70f";
}
.mui-toast-container{
	width: 200px;
	left: 50%;
	top: 50%;
}
#bigImgFixed{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 320px;
	height: 320px;
	margin-left: -160px;
	margin-top: -160px;
	z-index: 100001;
}
#bigImgBg{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	filter:alpha(opacity:70);
	opacity:0.7;
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	z-index: 10000;
}